In [71]:
#Required Imports
from pyspark.sql import SparkSession
import os
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType

In [72]:
# create Spark Session
spark = SparkSession.builder.appName('Column_Manupilation').getOrCreate()

In [73]:
# Function to laod data & return data  frame
def load_data(file):
    current_dir=os.getcwd()
    full_path=os.path.join(current_dir,'data',file)
    data=spark.read.format('csv').load(full_path,inferSchema=True,header=True)
    return data
data=load_data('netflix_titles.csv')

In [74]:
# Renaming title to TITLE ,adding a Upper Type column which have Upper case of type & printing the updated schema
data.withColumnRenamed('title','TITLE').withColumn('Upper Type',upper(col('type'))).printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- TITLE: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)
 |-- Upper Type: string (nullable = true)

In [75]:
# Reverting the add column,rename changes 
data.withColumnRenamed('title','TITLE').withColumn('Upper Type',upper(col('type')))\
.drop('Upper Type').withColumnRenamed('TITLE','title').printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

In [76]:
# adding a Constant columns to the dataframe
data.withColumn('Constant',lit(7.89)).select('title','Type','Constant').show()

+--------------------+-------+--------+
|               title|   Type|Constant|
+--------------------+-------+--------+
|Norm of the North...|  Movie|    7.89|
|Jandino: Whatever...|  Movie|    7.89|
|  Transformers Prime|TV Show|    7.89|
|Transformers: Rob...|TV Show|    7.89|
|        #realityhigh|  Movie|    7.89|
|             Apaches|TV Show|    7.89|
|            Automata|  Movie|    7.89|
|Fabrizio Copano: ...|  Movie|    7.89|
|        Fire Chasers|TV Show|    7.89|
|         Good People|  Movie|    7.89|
|Joaquín Reyes: Un...|  Movie|    7.89|
|Kidnapping Mr. He...|  Movie|    7.89|
|Krish Trish and B...|  Movie|    7.89|
|Krish Trish and B...|  Movie|    7.89|
|Krish Trish and B...|  Movie|    7.89|
|Krish Trish and B...|  Movie|    7.89|
|Krish Trish and B...|  Movie|    7.89|
|Krish Trish and B...|  Movie|    7.89|
|Krish Trish and B...|  Movie|    7.89|
|                Love|  Movie|    7.89|
+--------------------+-------+--------+
only showing top 20 rows

In [77]:
# casting Constant column to integer
data.withColumn('Constant',lit(7.89).cast(IntegerType())).select('title','Type','Constant').show()

+--------------------+-------+--------+
|               title|   Type|Constant|
+--------------------+-------+--------+
|Norm of the North...|  Movie|       7|
|Jandino: Whatever...|  Movie|       7|
|  Transformers Prime|TV Show|       7|
|Transformers: Rob...|TV Show|       7|
|        #realityhigh|  Movie|       7|
|             Apaches|TV Show|       7|
|            Automata|  Movie|       7|
|Fabrizio Copano: ...|  Movie|       7|
|        Fire Chasers|TV Show|       7|
|         Good People|  Movie|       7|
|Joaquín Reyes: Un...|  Movie|       7|
|Kidnapping Mr. He...|  Movie|       7|
|Krish Trish and B...|  Movie|       7|
|Krish Trish and B...|  Movie|       7|
|Krish Trish and B...|  Movie|       7|
|Krish Trish and B...|  Movie|       7|
|Krish Trish and B...|  Movie|       7|
|Krish Trish and B...|  Movie|       7|
|Krish Trish and B...|  Movie|       7|
|                Love|  Movie|       7|
+--------------------+-------+--------+
only showing top 20 rows