In [1]:
#Before Doing this plcae ojdbc6.jar in spark Jars folder or on anypath &specify with SPARC_CLASSPATH env variable
#Check jdbc.ajr according to your server version
#If you are recieving No matching authentication protocol exception error check version of server & client are compatible or change config at server side to allow older client also
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Spark_Oracle_Connection').getOrCreate()

In [3]:
driver='oracle.jdbc.driver.OracleDriver'
url='jdbc:oracle:thin:@localhost:1521/XEPDB1'
user='TEST'
password='TEST'
table='EMPLOYEE'

In [4]:
# Getting whole table data
df=spark.read.format('jdbc')\
.option('driver',driver)\
.option('url',url)\
.option('dbtable',table)\
.option('user',user)\
.option('password',password).load()

In [5]:
df.printSchema()

root
 |-- ID: decimal(5,0) (nullable = true)
 |-- NAME: string (nullable = true)
 |-- BIRTHDATE: timestamp (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- SALARY: decimal(7,2) (nullable = true)
 |-- DEPARTMENT_ID: decimal(3,0) (nullable = true)
 |-- HIRE_DATE: timestamp (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- EMAIL: string (nullable = true)

In [6]:
# Getting data with select query
query='(SELECT E.NAME AS EMPLOYEE_NAME,D.NAME AS DEPARTMENT FROM EMPLOYEE E INNER JOIN DEPARTMENT D ON E.DEPARTMENT_ID=D.ID) EMP_DEP'
df1=spark.read.format('jdbc')\
.option('driver',driver)\
.option('url',url)\
.option('dbtable',query)\
.option('user',user)\
.option('password',password).load()

In [16]:
df1.printSchema()

root
 |-- EMPLOYEE_NAME: string (nullable = true)
 |-- DEPARTMENT: string (nullable = true)

In [7]:
df1.show()

+------------------+--------------------+
|     EMPLOYEE_NAME|          DEPARTMENT|
+------------------+--------------------+
|      EDDIE FARREL|          ACCOUNTING|
|        JOHN SMITH|          ACCOUNTING|
|      JUSTIN BLACK|          ACCOUNTING|
|       ANGIE CROOD|          ACCOUNTING|
|        JAMES BOSH|           MARKETING|
|      GEORGE HAYES|           MARKETING|
|     LUISA JACKSON|INFORMATION TECHN...|
|      CHARLES DEAN|INFORMATION TECHN...|
|IGOR KEYS OSBOURNE|INFORMATION TECHN...|
|        NIGEL OAKS|     HUMAN RESOURCES|
|         LUKE MINT|     HUMAN RESOURCES|
|     STUART GARCIA|     HUMAN RESOURCES|
|     LUKE GREEN JR|     HUMAN RESOURCES|
+------------------+--------------------+

In [8]:
#Create a new table
df1.write.format('jdbc').option('driver',driver)\
.option('url',url)\
.option('user',user)\
.option('password',password).mode('overwrite').option('createTableOptions','').option('dbtable','EMP_DEP').save()

In [9]:
#Append in existing table 
df1.write.format('jdbc').option('driver',driver)\
.option('url',url)\
.option('user',user)\
.option('password',password).mode('append').option('dbtable','EMP_DEP').save()

In [10]:
spark.stop()